In [1]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation


!pip install geopy
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize


! pip install folium==0.5.0
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Requirement already satisfied: geopy in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.1.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geopy) (1.50)
Requirement already satisfied: folium==0.5.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.5.0)
Requirement already satisfied: branca in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (0.4.2)
Requirement already satisfied: jinja2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (2.11.2)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (2.25.0)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.23 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from jinja2->folium==0.5.0) (1.1.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (2.10)
Folium installed
Libraries imported.

In [3]:
csv_path='https://www.toronto.ca/ext/open_data/catalog/data_set_files/2016_neighbourhood_profiles.csv'
df = pd.read_csv(csv_path,encoding='latin1')
print('Data loaded')

Data loaded

In [4]:
Neighbourhoods = list(df.columns.values)
Neighbourhoods = Neighbourhoods[5:]
print(Neighbourhoods)

['Agincourt North', 'Agincourt South-Malvern West', 'Alderwood', 'Annex', 'Banbury-Don Mills', 'Bathurst Manor', 'Bay Street Corridor', 'Bayview Village', 'Bayview Woods-Steeles', 'Bedford Park-Nortown', 'Beechborough-Greenbrook', 'Bendale', 'Birchcliffe-Cliffside', 'Black Creek', 'Blake-Jones', 'Briar Hill-Belgravia', 'Bridle Path-Sunnybrook-York Mills', 'Broadview North', 'Brookhaven-Amesbury', 'Cabbagetown-South St. James Town', 'Caledonia-Fairbank', 'Casa Loma', 'Centennial Scarborough', 'Church-Yonge Corridor', 'Clairlea-Birchmount', 'Clanton Park', 'Cliffcrest', 'Corso Italia-Davenport', 'Danforth', 'Danforth East York', 'Don Valley Village', 'Dorset Park', 'Dovercourt-Wallace Emerson-Junction', 'Downsview-Roding-CFB', 'Dufferin Grove', 'East End-Danforth', 'Edenbridge-Humber Valley', 'Eglinton East', 'Elms-Old Rexdale', 'Englemount-Lawrence', 'Eringate-Centennial-West Deane', 'Etobicoke West Mall', 'Flemingdon Park', 'Forest Hill North', 'Forest Hill South', 'Glenfield-Jane Heights', 'Greenwood-Coxwell', 'Guildwood', 'Henry Farm', 'High Park North', 'High Park-Swansea', 'Highland Creek', 'Hillcrest Village', 'Humber Heights-Westmount', 'Humber Summit', 'Humbermede', 'Humewood-Cedarvale', 'Ionview', 'Islington-City Centre West', 'Junction Area', 'Keelesdale-Eglinton West', 'Kennedy Park', 'Kensington-Chinatown', 'Kingsview Village-The Westway', 'Kingsway South', 'Lambton Baby Point', "L'Amoreaux", 'Lansing-Westgate', 'Lawrence Park North', 'Lawrence Park South', 'Leaside-Bennington', 'Little Portugal', 'Long Branch', 'Malvern', 'Maple Leaf', 'Markland Wood', 'Milliken', 'Mimico (includes Humber Bay Shores)', 'Morningside', 'Moss Park', 'Mount Dennis', 'Mount Olive-Silverstone-Jamestown', 'Mount Pleasant East', 'Mount Pleasant West', 'New Toronto', 'Newtonbrook East', 'Newtonbrook West', 'Niagara', 'North Riverdale', 'North St. James Town', 'Oakridge', 'Oakwood Village', "O'Connor-Parkview", 'Old East York', 'Palmerston-Little Italy', 'Parkwoods-Donalda', 'Pelmo Park-Humberlea', 'Playter Estates-Danforth', 'Pleasant View', 'Princess-Rosethorn', 'Regent Park', 'Rexdale-Kipling', 'Rockcliffe-Smythe', 'Roncesvalles', 'Rosedale-Moore Park', 'Rouge', 'Runnymede-Bloor West Village', 'Rustic', 'Scarborough Village', 'South Parkdale', 'South Riverdale', 'St.Andrew-Windfields', 'Steeles', 'Stonegate-Queensway', "Tam O'Shanter-Sullivan", 'Taylor-Massey', 'The Beaches', 'Thistletown-Beaumond Heights', 'Thorncliffe Park', 'Trinity-Bellwoods', 'University', 'Victoria Village', 'Waterfront Communities-The Island', 'West Hill', 'West Humber-Clairville', 'Westminster-Branson', 'Weston', 'Weston-Pelham Park', 'Wexford/Maryvale', 'Willowdale East', 'Willowdale West', 'Willowridge-Martingrove-Richview', 'Woburn', 'Woodbine Corridor', 'Woodbine-Lumsden', 'Wychwood', 'Yonge-Eglinton', 'Yonge-St.Clair', 'York University Heights', 'Yorkdale-Glen Park']

In [5]:

dfToronto = pd.DataFrame(index=Neighbourhoods, columns=["Population_2016"])
dfToronto.head()

                             Population_2016
Agincourt North                          NaN
Agincourt South-Malvern West             NaN
Alderwood                                NaN
Annex                                    NaN
Banbury-Don Mills                        NaN

In [6]:
for index, row in dfToronto.iterrows():
    dfToronto.at[index, 'Population_2016'] = df[index][2]

In [7]:
dfToronto

                             Population_2016
Agincourt North                       29,113
Agincourt South-Malvern West          23,757
Alderwood                             12,054
Annex                                 30,526
Banbury-Don Mills                     27,695
...                                      ...
Wychwood                              14,349
Yonge-Eglinton                        11,817
Yonge-St.Clair                        12,528
York University Heights               27,593
Yorkdale-Glen Park                    14,804

[140 rows x 1 columns]

In [8]:
CLIENT_ID = 'HJWCAWCCLK501ORUCKKVY3MRSZCBESDCGV5EUGZAITMOHLCE' # your Foursquare ID
CLIENT_SECRET = 'Y1X2L35U1EUCAVA1JZK0CURTDUIL51VSOHNXZJVWDZ55WAAM' # your Foursquare Secret
ACCESS_TOKEN = 'BRPRZRQH35VQ3HXCVDNRZKUSYJEJNUFTN3XTAAMQCTWYMETV' # your FourSquare Access Token
VERSION = '20180604'

In [10]:
address = input("Enter area :")

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

Enter area : Annex

43.6703377 -79.407117

In [13]:
hosp_url = 'https://api.foursquare.com/v2/venues/search?ll={},{}&categoryId=4bf58dd8d48988d196941735&client_id={}&client_secret={}&limit=1&v={}'.format(latitude,longitude,CLIENT_ID,CLIENT_SECRET,VERSION)
uni_url = 'https://api.foursquare.com/v2/venues/search?ll={},{}&categoryId=4d4b7105d754a06372d81259&client_id={}&client_secret={}&limit=1&v={}'.format(latitude,longitude,CLIENT_ID,CLIENT_SECRET,VERSION)
mall_url = 'https://api.foursquare.com/v2/venues/search?ll={},{}&categoryId=5744ccdfe4b0c0459246b4df&client_id={}&client_secret={}&limit=1&v={}'.format(latitude,longitude,CLIENT_ID,CLIENT_SECRET,VERSION)

In [15]:
############# HOSPITALS
hospital_results = requests.get(hosp_url).json()
hosp_venues = hospital_results['response']['venues']
df1 = json_normalize(hosp_venues)
df1.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  after removing the cwd from sys.path.

,id,name,categories,referralId,hasPerk,location.address,location.crossStreet,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.state,location.country,location.formattedAddress
0,4b4b47f0f964a5205f9626e3,Credit Valley Hospital,"[{'id': '4bf58dd8d48988d196941735', 'name': 'H...",v-1617728209,False,2200 Eglinton Ave West,at Erin Mills Pkwy,43.559326,-79.703589,"[{'label': 'display', 'lat': 43.55932579710907...",26900,L5M 2N1,CA,Mississauga,ON,Canada,"[2200 Eglinton Ave West (at Erin Mills Pkwy), ..."

In [16]:
########## UNIVERSITIES
uni_results = requests.get(uni_url).json()
uni_venues = uni_results['response']['venues']
df2 = json_normalize(uni_venues)
df2.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  after removing the cwd from sys.path.

,id,name,categories,referralId,hasPerk,location.address,location.crossStreet,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.state,location.country,location.formattedAddress,venuePage.id
0,4ad4c05ef964a52097f620e3,University of Toronto,"[{'id': '4bf58dd8d48988d1ae941735', 'name': 'U...",v-1617728210,False,27 King's College Cir,at King's College Rd,43.662493,-79.39522,"[{'label': 'display', 'lat': 43.6624934706167,...",1296,M5S 1A1,CA,Toronto,ON,Canada,"[27 King's College Cir (at King's College Rd),...",57112483

In [17]:
mall_results = requests.get(mall_url).json()
mall_venues = mall_results['response']['venues']
df3 = json_normalize(mall_venues)
df3.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  This is separate from the ipykernel package so we can avoid doing imports until

,id,name,categories,referralId,hasPerk,location.address,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.state,location.country,location.formattedAddress
0,5bc56e526fd626002c084b63,Dixie Outlet Mall,"[{'id': '4bf58dd8d48988d1fd941735', 'name': 'S...",v-1617728212,False,1250 South Service Rd,43.606224,-79.558842,"[{'label': 'display', 'lat': 43.60622447043443...",14154,L5E 1V4,CA,Mississauga,ON,Canada,"[1250 South Service Rd, Mississauga ON L5E 1V4..."

In [18]:
print("The closest hospitals in the area are:")
print ((df1['name']).to_string(index=False))

The closest hospitals in the area are:
 Credit Valley Hospital

In [19]:
print("The closest universities in the area are:")
print ((df2['name']).to_string(index=False))

The closest universities in the area are:
 University of Toronto

In [20]:
print("The closest malls in the area are:")
print ((df3['name']).to_string(index=False))

The closest malls in the area are:
 Dixie Outlet Mall

In [62]:
print("The neighbourhood has a population of :")
print((dfToronto.loc[address]).to_string(index=False))

The neighbourhood has a population of :
 30,526